
@import './animate'

.wrapper
  position: fixed
  z-index: 100
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  top: 0
  z-index: 100
  display: none
  background: rgba(0, 0, 0, .5)

.formWrapper
  background: white
  padding: 0 2vw 2vw
  border: 1px solid black
  display: none
  animation: bounceInDown 1s both
  button
    margin: 1vh 0
    border: 1px solid black
    background: white
    cursor: pointer

.tipWrapper
  background: white
  margin: 5vw 0
  padding: 2vw 4vw
  border: 1px solid black
  flex-direction: column
  justify-content: center
  display: none
  h2
    font-weight: normal
    font-style: italic
    padding-bottom: 2vw
  button
    display: inline-block
    width: 100%
    padding: 10px 5px
    border: 1px solid black
    background: white
    cursor: pointer
  p
    width: 280px

.isFlex
  display: flex
.isBlock
  display: block

.tipItem
  margin: 20px 0
  text-align: center
  display: block
.tipOk
  border: 1px solid #000
  margin: 20px 0
  text-align: center
.errorMessage
  color: red
  padding: 5px
  font-size: 12px
  display: block
.dtWrapper
  padding: 3vw 3vh

.ddWrapper
  padding: 1vh 0
  input
    height: 40px
    width: 250px
    border: 1px solid #cccccc
    text-indent: 3px

.formItem
  width: 250px
  height: 40px

.loading
  color: #333
  opacity: 0.8
