.bodyWrapper
  padding-top: 10vh
  padding-bottom: 10vh
  display: flex
  flex: 1
  align-items: center
  justify-content: center
  flex-direction: column
  h1
    font-size: 22px
  h1,p,button
    padding: 15px
  button
    border: 1px solid black
    background: white
    cursor: pointer
